Importing liblaries

In [1]:
import pandas as pd

In [2]:
import numpy as np

Importing data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/jivizcaino/PWT_10.0/main/pwt100.csv', encoding="latin-1")

In [4]:
print(df)

      countrycode   country   currency_unit  year        rgdpe        rgdpo  \
0             ABW     Aruba  Aruban Guilder  1950          NaN          NaN
1             ABW     Aruba  Aruban Guilder  1951          NaN          NaN
2             ABW     Aruba  Aruban Guilder  1952          NaN          NaN
3             ABW     Aruba  Aruban Guilder  1953          NaN          NaN
4             ABW     Aruba  Aruban Guilder  1954          NaN          NaN
...           ...       ...             ...   ...          ...          ...
12805         ZWE  Zimbabwe       US Dollar  2015  40141.61719  39798.64453
12806         ZWE  Zimbabwe       US Dollar  2016  41875.20313  40963.19141
12807         ZWE  Zimbabwe       US Dollar  2017  44672.17578  44316.74219
12808         ZWE  Zimbabwe       US Dollar  2018  44325.10938  43420.89844
12809         ZWE  Zimbabwe       US Dollar  2019  42296.06250  40826.57031

             pop       emp  avh        hc  ...     csh_x     csh_m     csh_r  \
0            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
1            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
2            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
3            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
4            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
...          ...       ...  ...       ...  ...       ...       ...       ...
12805  13.814629  6.393752  NaN  2.584653  ...  0.140172 -0.287693 -0.051930
12806  14.030331  6.504374  NaN  2.616257  ...  0.131920 -0.251232 -0.016258
12807  14.236595  6.611773  NaN  2.648248  ...  0.126722 -0.202827 -0.039897
12808  14.438802  6.714952  NaN  2.680630  ...  0.144485 -0.263658 -0.020791
12809  14.645468  6.831017  NaN  2.713408  ...  0.213562 -0.270959 -0.089798

           pl_c      pl_i      pl_g      pl_x      pl_m      pl_n      pl_k
0           NaN       NaN       NaN       NaN       NaN       NaN       NaN
1           NaN       NaN       NaN       NaN       NaN       NaN       NaN
2           NaN       NaN       NaN       NaN       NaN       NaN       NaN
3           NaN       NaN       NaN       NaN       NaN       NaN       NaN
4           NaN       NaN       NaN       NaN       NaN       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
12805  0.479228  0.651287  0.541446  0.616689  0.533235  0.422764  1.533909
12806  0.470640  0.651027  0.539631  0.619789  0.519718  0.416510  1.491724
12807  0.473560  0.639560  0.519956  0.619739  0.552042  0.415592  1.514525
12808  0.543757  0.655473  0.529867  0.641361  0.561526  0.425143  1.590120
12809  0.494755  0.652439  0.500927  0.487763  0.430082  0.420675  1.384068

[12810 rows x 52 columns]

Variables we care about: 
- cgdpo (oupput-side real GDP at current PPP) 
- emp (Number of persons engaged) 
- avh( Average annual hours worked by persons engaged) 
- hc (humand capital index based on yeatd of schooling and returns to education) 
- labsh (country-specific measure for 1-alpha

Cleanining data

In [5]:
df_subset =  df[['country', 'year', 'cgdpo', 'emp', 'avh', 'hc','labsh']]

In [6]:
df_subset

        country  year        cgdpo       emp  avh        hc     labsh
0         Aruba  1950          NaN       NaN  NaN       NaN       NaN
1         Aruba  1951          NaN       NaN  NaN       NaN       NaN
2         Aruba  1952          NaN       NaN  NaN       NaN       NaN
3         Aruba  1953          NaN       NaN  NaN       NaN       NaN
4         Aruba  1954          NaN       NaN  NaN       NaN       NaN
...         ...   ...          ...       ...  ...       ...       ...
12805  Zimbabwe  2015  39455.90234  6.393752  NaN  2.584653  0.533381
12806  Zimbabwe  2016  40864.16406  6.504374  NaN  2.616257  0.533381
12807  Zimbabwe  2017  44316.74219  6.611773  NaN  2.648248  0.533381
12808  Zimbabwe  2018  43567.51172  6.714952  NaN  2.680630  0.533381
12809  Zimbabwe  2019  41081.72266  6.831017  NaN  2.713408  0.533381

[12810 rows x 7 columns]

In [14]:
df_subset = df_subset.dropna()
print(df_subset)

            country  year         cgdpo        emp          avh        hc  \
350       Argentina  1950   50511.76563   6.608833  2034.000000  1.816503
351       Argentina  1951   51700.11328   6.713252  2037.866753  1.830769
352       Argentina  1952   47280.32813   6.819321  2041.740856  1.845147
353       Argentina  1953   50378.66797   6.927065  2045.622325  1.859638
354       Argentina  1954   52633.07422   7.036511  2049.511172  1.874243
...             ...   ...           ...        ...          ...       ...
12664  South Africa  2014  699348.06250  16.992683  2209.091467  2.675951
12666  South Africa  2016  710312.50000  17.984968  2218.455068  2.762902
12667  South Africa  2017  726021.00000  18.302843  2197.033263  2.809246
12668  South Africa  2018  733319.37500  18.686357  2191.363362  2.857641
12669  South Africa  2019  735067.06250  18.642710  2191.363362  2.908202

          labsh  Income_Per_Worker
350    0.441024        7643.069039
351    0.441024        7701.202451
352    0.441024        6933.290038
353    0.441024        7272.729320
354    0.441024        7479.995565
...         ...                ...
12664  0.552341       41155.834286
12666  0.568343       39494.787675
12667  0.570414       39667.116001
12668  0.570888       39243.569808
12669  0.570888       39429.196353

[3265 rows x 8 columns]

finding most freaquent year

In [15]:
df_subset['year'].mode()

0    2001
1    2002
Name: year, dtype: int64

2001 and 2002 are the most frequent. The year that should be used is 2002 as it's the latest out of the 2 options

In [21]:
df_subset["Income_Per_Worker"] = df_subset['cgdpo'] / df_subset['emp'] 
df_subset["Income_Per_Hour_Worked"] = df_subset['cgdpo'] / df_subset['avh']
df_subset["Income_Per_Unit_of_HCap"] = df_subset['cgdpo'] / df_subset['hc']
Per_Hour_HCap = df_subset['hc'] / df_subset['avh']
df_subset["Income_Per_Hour_Of_HCap"] = df_subset['cgdpo'] / Per_Hour_HCap
print(df_subset)

            country  year         cgdpo        emp          avh        hc  \
350       Argentina  1950   50511.76563   6.608833  2034.000000  1.816503
351       Argentina  1951   51700.11328   6.713252  2037.866753  1.830769
352       Argentina  1952   47280.32813   6.819321  2041.740856  1.845147
353       Argentina  1953   50378.66797   6.927065  2045.622325  1.859638
354       Argentina  1954   52633.07422   7.036511  2049.511172  1.874243
...             ...   ...           ...        ...          ...       ...
12664  South Africa  2014  699348.06250  16.992683  2209.091467  2.675951
12666  South Africa  2016  710312.50000  17.984968  2218.455068  2.762902
12667  South Africa  2017  726021.00000  18.302843  2197.033263  2.809246
12668  South Africa  2018  733319.37500  18.686357  2191.363362  2.857641
12669  South Africa  2019  735067.06250  18.642710  2191.363362  2.908202

          labsh  Income_Per_Worker  Income_Per_Hour_Worked  \
350    0.441024        7643.069039               24.833710
351    0.441024        7701.202451               25.369722
352    0.441024        6933.290038               23.156870
353    0.441024        7272.729320               24.627551
354    0.441024        7479.995565               25.680794
...         ...                ...                     ...
12664  0.552341       41155.834286              316.577232
12666  0.568343       39494.787675              320.183406
12667  0.570414       39667.116001              330.455170
12668  0.570888       39243.569808              334.640703
12669  0.570888       39429.196353              335.438237

       Income_Per_Unit_of_HCap  Income_Per_Hour_Of_HCap
350               27807.147912             1.554600e+07
351               28239.562113             1.569402e+07
352               25624.150662             1.415598e+07
353               27090.574710             1.487726e+07
354               28082.310368             1.533033e+07
...                        ...                      ...
12664            261345.662203             9.091700e+07
12666            257089.283153             8.761741e+07
12667            258439.825215             8.714997e+07
12668            256617.020313             8.599692e+07
12669            252756.500020             8.640370e+07

[3265 rows x 11 columns]

In [30]:
Income_perCap_25 = np.percentile(df_subset["Income_Per_Hour_Worked"], 25)
print(Income_perCap_25)

39.72472501029377