Importing liblaries

In [1]:
import pandas as pd

In [2]:
import numpy as np

Importing data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/jivizcaino/PWT_10.0/main/pwt100.csv', encoding="latin-1")

In [4]:
print(df)

      countrycode   country   currency_unit  year         rgdpe         rgdpo  \
0             ABW     Aruba  Aruban Guilder  1950           NaN           NaN
1             ABW     Aruba  Aruban Guilder  1951           NaN           NaN
2             ABW     Aruba  Aruban Guilder  1952           NaN           NaN
3             ABW     Aruba  Aruban Guilder  1953           NaN           NaN
4             ABW     Aruba  Aruban Guilder  1954           NaN           NaN
...           ...       ...             ...   ...           ...           ...
12805         ZWE  Zimbabwe       US Dollar  2015  40141.617188  39798.644531
12806         ZWE  Zimbabwe       US Dollar  2016  41875.203125  40963.191406
12807         ZWE  Zimbabwe       US Dollar  2017  44672.175781  44316.742188
12808         ZWE  Zimbabwe       US Dollar  2018  44325.109375  43420.898438
12809         ZWE  Zimbabwe       US Dollar  2019  42296.062500  40826.570312

             pop       emp  avh        hc  ...     csh_x     csh_m     csh_r  \
0            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
1            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
2            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
3            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
4            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
...          ...       ...  ...       ...  ...       ...       ...       ...
12805  13.814629  6.393752  NaN  2.584653  ...  0.140172 -0.287693 -0.051930
12806  14.030331  6.504374  NaN  2.616257  ...  0.131920 -0.251232 -0.016258
12807  14.236595  6.611773  NaN  2.648248  ...  0.126722 -0.202827 -0.039897
12808  14.438802  6.714952  NaN  2.680630  ...  0.144485 -0.263658 -0.020791
12809  14.645468  6.831017  NaN  2.713408  ...  0.213562 -0.270959 -0.089798

           pl_c      pl_i      pl_g      pl_x      pl_m      pl_n      pl_k
0           NaN       NaN       NaN       NaN       NaN       NaN       NaN
1           NaN       NaN       NaN       NaN       NaN       NaN       NaN
2           NaN       NaN       NaN       NaN       NaN       NaN       NaN
3           NaN       NaN       NaN       NaN       NaN       NaN       NaN
4           NaN       NaN       NaN       NaN       NaN       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
12805  0.479228  0.651287  0.541446  0.616689  0.533235  0.422764  1.533909
12806  0.470640  0.651027  0.539631  0.619789  0.519718  0.416510  1.491724
12807  0.473560  0.639560  0.519956  0.619739  0.552042  0.415592  1.514525
12808  0.543757  0.655473  0.529867  0.641361  0.561526  0.425143  1.590120
12809  0.494755  0.652439  0.500927  0.487763  0.430082  0.420675  1.384068

[12810 rows x 52 columns]

Variables we care about: 
- cgdpo (oupput-side real GDP at current PPP) 
- emp (Number of prersosn engages) 
- avh( Average annual hours worked by persons engaded) 
- hc (humand capital index based on yeatd of schooling and returns to education) 
- labsh (country-specific measure for 1-alpha

Cleanining data

In [5]:
df_subset =  df[['country', 'year', 'cgdpo', 'emp', 'avh', 'hc','labsh']]

In [6]:
df_subset

        country  year         cgdpo       emp  avh        hc     labsh
0         Aruba  1950           NaN       NaN  NaN       NaN       NaN
1         Aruba  1951           NaN       NaN  NaN       NaN       NaN
2         Aruba  1952           NaN       NaN  NaN       NaN       NaN
3         Aruba  1953           NaN       NaN  NaN       NaN       NaN
4         Aruba  1954           NaN       NaN  NaN       NaN       NaN
...         ...   ...           ...       ...  ...       ...       ...
12805  Zimbabwe  2015  39455.902344  6.393752  NaN  2.584653  0.533381
12806  Zimbabwe  2016  40864.164062  6.504374  NaN  2.616257  0.533381
12807  Zimbabwe  2017  44316.742188  6.611773  NaN  2.648248  0.533381
12808  Zimbabwe  2018  43567.511719  6.714952  NaN  2.680630  0.533381
12809  Zimbabwe  2019  41081.722656  6.831017  NaN  2.713408  0.533381

[12810 rows x 7 columns]

In [7]:
df_subset.dropna()

,country,year,cgdpo,emp,avh,hc,labsh
350,Argentina,1950,50511.765625,6.608833,2034.000000,1.816503,0.441024
351,Argentina,1951,51700.113281,6.713252,2037.866753,1.830769,0.441024
352,Argentina,1952,47280.328125,6.819321,2041.740856,1.845147,0.441024
353,Argentina,1953,50378.667969,6.927065,2045.622325,1.859638,0.441024
354,Argentina,1954,52633.074219,7.036511,2049.511172,1.874243,0.441024
...,...,...,...,...,...,...,...
12664,South Africa,2014,699348.062500,16.992683,2209.091467,2.675951,0.552341
12666,South Africa,2016,710312.500000,17.984968,2218.455068,2.762902,0.568343
12667,South Africa,2017,726021.000000,18.302843,2197.033263,2.809246,0.570414
12668,South Africa,2018,733319.375000,18.686357,2191.363362,2.857641,0.570888
12669,South Africa,2019,735067.062500,18.642710,2191.363362,2.908202,0.570888

finding most freaquent year

In [9]:
df_subset['year'].mode()

0     1950
1     1951
2     1952
3     1953
4     1954
      ...
65    2015
66    2016
67    2017
68    2018
69    2019
Name: year, Length: 70, dtype: int64

All these 69 years are the most frequent. The year that should be used is 2019 as it's the latest