Importing liblaries

In [2]:
import pandas as pd

In [3]:
import numpy as np

Importing data

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jivizcaino/PWT_10.0/main/pwt100.csv', encoding="latin-1")

In [5]:
print(df)

      countrycode   country   currency_unit  year        rgdpe        rgdpo  \
0             ABW     Aruba  Aruban Guilder  1950          NaN          NaN
1             ABW     Aruba  Aruban Guilder  1951          NaN          NaN
2             ABW     Aruba  Aruban Guilder  1952          NaN          NaN
3             ABW     Aruba  Aruban Guilder  1953          NaN          NaN
4             ABW     Aruba  Aruban Guilder  1954          NaN          NaN
...           ...       ...             ...   ...          ...          ...
12805         ZWE  Zimbabwe       US Dollar  2015  40141.61719  39798.64453
12806         ZWE  Zimbabwe       US Dollar  2016  41875.20313  40963.19141
12807         ZWE  Zimbabwe       US Dollar  2017  44672.17578  44316.74219
12808         ZWE  Zimbabwe       US Dollar  2018  44325.10938  43420.89844
12809         ZWE  Zimbabwe       US Dollar  2019  42296.06250  40826.57031

             pop       emp  avh        hc  ...     csh_x     csh_m     csh_r  \
0            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
1            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
2            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
3            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
4            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
...          ...       ...  ...       ...  ...       ...       ...       ...
12805  13.814629  6.393752  NaN  2.584653  ...  0.140172 -0.287693 -0.051930
12806  14.030331  6.504374  NaN  2.616257  ...  0.131920 -0.251232 -0.016258
12807  14.236595  6.611773  NaN  2.648248  ...  0.126722 -0.202827 -0.039897
12808  14.438802  6.714952  NaN  2.680630  ...  0.144485 -0.263658 -0.020791
12809  14.645468  6.831017  NaN  2.713408  ...  0.213562 -0.270959 -0.089798

           pl_c      pl_i      pl_g      pl_x      pl_m      pl_n      pl_k
0           NaN       NaN       NaN       NaN       NaN       NaN       NaN
1           NaN       NaN       NaN       NaN       NaN       NaN       NaN
2           NaN       NaN       NaN       NaN       NaN       NaN       NaN
3           NaN       NaN       NaN       NaN       NaN       NaN       NaN
4           NaN       NaN       NaN       NaN       NaN       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
12805  0.479228  0.651287  0.541446  0.616689  0.533235  0.422764  1.533909
12806  0.470640  0.651027  0.539631  0.619789  0.519718  0.416510  1.491724
12807  0.473560  0.639560  0.519956  0.619739  0.552042  0.415592  1.514525
12808  0.543757  0.655473  0.529867  0.641361  0.561526  0.425143  1.590120
12809  0.494755  0.652439  0.500927  0.487763  0.430082  0.420675  1.384068

[12810 rows x 52 columns]

Variables we care about: 
- cgdpo (Output-side real GDP at current PPP) 
- emp (Number of persons engaged) 
- avh (Average annual hours worked by persons engaged) 
- hc (Human capital index based on yeatd of schooling and returns to education) 
- labsh (Country-specific measure for 1-alpha)

Cleanining the data

In [6]:
df_subset =  df[['country', 'year', 'cgdpo', 'emp', 'avh', 'hc','labsh']]

In [7]:
df_subset

        country  year        cgdpo       emp  avh        hc     labsh
0         Aruba  1950          NaN       NaN  NaN       NaN       NaN
1         Aruba  1951          NaN       NaN  NaN       NaN       NaN
2         Aruba  1952          NaN       NaN  NaN       NaN       NaN
3         Aruba  1953          NaN       NaN  NaN       NaN       NaN
4         Aruba  1954          NaN       NaN  NaN       NaN       NaN
...         ...   ...          ...       ...  ...       ...       ...
12805  Zimbabwe  2015  39455.90234  6.393752  NaN  2.584653  0.533381
12806  Zimbabwe  2016  40864.16406  6.504374  NaN  2.616257  0.533381
12807  Zimbabwe  2017  44316.74219  6.611773  NaN  2.648248  0.533381
12808  Zimbabwe  2018  43567.51172  6.714952  NaN  2.680630  0.533381
12809  Zimbabwe  2019  41081.72266  6.831017  NaN  2.713408  0.533381

[12810 rows x 7 columns]

In [8]:
df_subset = df_subset.dropna()
print(df_subset)

            country  year         cgdpo        emp          avh        hc  \
350       Argentina  1950   50511.76563   6.608833  2034.000000  1.816503
351       Argentina  1951   51700.11328   6.713252  2037.866753  1.830769
352       Argentina  1952   47280.32813   6.819321  2041.740856  1.845147
353       Argentina  1953   50378.66797   6.927065  2045.622325  1.859638
354       Argentina  1954   52633.07422   7.036511  2049.511172  1.874243
...             ...   ...           ...        ...          ...       ...
12664  South Africa  2014  699348.06250  16.992683  2209.091467  2.675951
12666  South Africa  2016  710312.50000  17.984968  2218.455068  2.762902
12667  South Africa  2017  726021.00000  18.302843  2197.033263  2.809246
12668  South Africa  2018  733319.37500  18.686357  2191.363362  2.857641
12669  South Africa  2019  735067.06250  18.642710  2191.363362  2.908202

          labsh
350    0.441024
351    0.441024
352    0.441024
353    0.441024
354    0.441024
...         ...
12664  0.552341
12666  0.568343
12667  0.570414
12668  0.570888
12669  0.570888

[3265 rows x 7 columns]

finding most frequent year

In [9]:
for i in range (2010,2020):
    print(df_subset[df_subset['year'] == i].describe())

         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2010.0  1.382503e+06   37.335028  1863.188767   3.039355   0.540881
std       0.0  2.888074e+06  115.797666   254.344466   0.425599   0.076200
min    2010.0  1.079782e+04    0.162806  1395.367099   1.966098   0.353974
25%    2010.0  1.492411e+05    2.544923  1680.332565   2.705013   0.490423
50%    2010.0  3.792399e+05    6.733418  1840.668989   3.078655   0.548255
75%    2010.0  1.432651e+06   22.581518  2066.000660   3.346539   0.595915
max    2010.0  1.680064e+07  781.035522  2476.231460   3.703131   0.675814
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2011.0  1.456090e+06   37.714756  1861.830229   3.060398   0.538439
std       0.0  3.012386e+06  116.531736   250.545047   0.421185   0.077438
min    2011.0  1.113984e+04    0.167377  1400.154799   1.987892   0.356527
25%    2011.0  1.638518e+05    2.581194  1671.687791   2.711337   0.473972
50%    2011.0  3.906183e+05    6.963474  1847.274468   3.098995   0.549983
75%    2011.0  1.596814e+06   24.076166  2047.000000   3.356362   0.596353
max    2011.0  1.706100e+07  784.713318  2433.726248   3.710895   0.672553
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2012.0  1.507456e+06   37.963369  1851.801280   3.081004   0.540299
std       0.0  3.152244e+06  116.842687   250.636002   0.418401   0.077094
min    2012.0  1.131270e+04    0.170759  1396.283656   2.009927   0.358892
25%    2012.0  1.734315e+05    2.634114  1655.019025   2.717677   0.480667
50%    2012.0  3.975028e+05    7.163156  1811.542804   3.105491   0.554460
75%    2012.0  1.584274e+06   24.798153  2052.953278   3.372468   0.591290
max    2012.0  1.744459e+07  788.292847  2441.263749   3.718676   0.681181
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2013.0  1.525133e+06   38.397048  1841.277076   3.101905   0.541018
std       0.0  3.211809e+06  118.107695   246.029374   0.416453   0.074484
min    2013.0  1.133660e+04    0.173992  1386.721680   2.032206   0.367595
25%    2013.0  1.870786e+05    2.665577  1662.239277   2.733119   0.498868
50%    2013.0  4.217963e+05    7.356479  1806.456928   3.124985   0.558270
75%    2013.0  1.554870e+06   24.301548  2034.999571   3.391014   0.587378
max    2013.0  1.776587e+07  791.642761  2430.666637   3.726472   0.684298
         year         cgdpo         emp          avh         hc      labsh
count    60.0  6.000000e+01   60.000000    60.000000  60.000000  60.000000
mean   2014.0  1.561385e+06   39.079456  1833.035782   3.121675   0.539240
std       0.0  3.339231e+06  119.374305   242.635710   0.419199   0.072243
min    2014.0  1.190162e+04    0.177025  1389.383816   2.054732   0.373650
25%    2014.0  1.852541e+05    2.653639  1666.642068   2.749864   0.507102
50%    2014.0  4.116793e+05    6.328424  1784.635555   3.141215   0.553356
75%    2014.0  1.596243e+06   24.602914  2018.699496   3.473165   0.586138
max    2014.0  1.821481e+07  794.645630  2390.985746   3.734285   0.682918
         year         cgdpo         emp          avh         hc      labsh
count    60.0  6.000000e+01   60.000000    60.000000  60.000000  60.000000
mean   2015.0  1.606290e+06   39.218196  1828.299268   3.151341   0.539899
std       0.0  3.443030e+06  119.691943   239.169994   0.416030   0.075845
min    2015.0  1.445940e+04    0.181162  1391.946805   2.077508   0.328793
25%    2015.0  1.804048e+05    2.665521  1663.195187   2.819943   0.501009
50%    2015.0  4.248035e+05    6.443192  1778.127698   3.185132   0.546424
75%    2015.0  1.667978e+06   24.853274  2026.000319   3.491825   0.589264
max    2015.0  1.877585e+07  797.335266  2362.423602   3.742114   0.688674
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2016.0  1.625801e+06   39.065212  1835.108827   3.166072   0.543390
std       0.0  3.497585e+06  118.897569   245.551976   0.417923   0.073054
min    2016.0  1.500334e+04    0.187851  1394.475138   2.100536   0.339824
25%    2016.0  1.810988e+05    2.723180  1646.512532   2.842404   0.516337
50%    2016.0  4.379481e+05    7.754487  1809.028424   3.201388   0.554149
75%    2016.0  1.701895e+06   24.852915  2030.090399   3.508966   0.586253
max    2016.0  1.909654e+07  798.530334  2351.111284   3.809064   0.688393
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2017.0  1.693765e+06   39.372418  1823.345960   3.188377   0.543305
std       0.0  3.640527e+06  119.282867   241.600428   0.421083   0.074642
min    2017.0  1.539513e+04    0.192498  1380.779032   2.123820   0.327403
25%    2017.0  1.915727e+05    2.756731  1643.258116   2.862918   0.513985
50%    2017.0  4.648902e+05    7.928068  1785.796761   3.227827   0.553467
75%    2017.0  1.796296e+06   25.184689  2019.923395   3.523664   0.586253
max    2017.0  1.968716e+07  799.186096  2333.344698   3.974208   0.689425
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2018.0  1.733949e+06   39.733657  1818.502007   3.211096   0.545825
std       0.0  3.704901e+06  119.626450   240.098235   0.426154   0.075029
min    2018.0  1.701394e+04    0.194250  1381.929451   2.147362   0.316836
25%    2018.0  1.959844e+05    2.805338  1638.440039   2.860960   0.517249
50%    2018.0  4.733836e+05    7.993835  1787.766373   3.253314   0.555432
75%    2018.0  1.834876e+06   25.417908  2002.151466   3.565195   0.588353
max    2018.0  2.012845e+07  799.306641  2306.008688   4.154454   0.684100
         year         cgdpo         emp          avh         hc      labsh
count    61.0  6.100000e+01   61.000000    61.000000  61.000000  61.000000
mean   2019.0  1.766051e+06   40.066482  1814.082359   3.234384   0.545871
std       0.0  3.788320e+06  120.068120   240.462979   0.433279   0.075059
min    2019.0  1.733060e+04    0.192338  1380.607643   2.171165   0.316836
25%    2019.0  1.992414e+05    2.853662  1611.374223   2.904392   0.517249
50%    2019.0  4.963835e+05    8.100072  1791.735429   3.267884   0.555432
75%    2019.0  1.862070e+06   25.596329  2019.923395   3.593987   0.588353
max    2019.0  2.056603e+07  798.807739  2330.165875   4.351568   0.684100

All countries for the latest 10 years of the dataset share the same number of observations except for 2014 and 2015 which have one less observations. Therefore, we shall use the most recent year to conduct our analysis so we have the most up to date data to analyse.

Data subset for year 2019 only

In [10]:
df_2019 = df_subset[df_subset['year'] == 2019]

In [11]:
print(df_2019)

             country  year         cgdpo         emp          avh        hc  \
419        Argentina  2019  9.785588e+05   20.643215  1609.068998  3.096804
629        Australia  2019  1.355143e+06   12.863174  1726.797659  3.549666
699          Austria  2019  4.783293e+05    4.550281  1611.374223  3.381046
909          Belgium  2019  5.236886e+05    4.921937  1586.430997  3.149034
1189        Bulgaria  2019  1.503254e+05    3.420419  1645.246464  3.186015
...              ...   ...           ...         ...          ...       ...
11759         Turkey  2019  2.246182e+06   28.087334  1832.000000  2.514292
11829         Taiwan  2019  1.100433e+06   11.500000  2085.135333  3.357651
12109        Uruguay  2019  7.131098e+04    1.635379  1532.513740  2.776406
12179  United States  2019  2.056603e+07  158.299591  1765.346390  3.749341
12669   South Africa  2019  7.350671e+05   18.642710  2191.363362  2.908202

          labsh
419    0.543918
629    0.571645
699    0.583860
909    0.594811
1189   0.527659
...         ...
11759  0.436831
11829  0.650921
12109  0.473972
12179  0.597091
12669  0.570888

[61 rows x 7 columns]

In [12]:
df_2019["Income_Per_Worker"] = df_2019['cgdpo'] / df_2019['emp']
Per_Hour_Worked = df_2019['emp']*df_2019['avh']
df_2019["Income_Per_Hour_Worked"] = df_2019['cgdpo'] / Per_Hour_Worked
df_2019["Income_Per_Unit_of_HCap"] = df_2019['cgdpo'] / df_2019['hc']
Per_Hour_Worked_HCap = Per_Hour_Worked*df_2019['hc']
df_2019["Income_Per_Hour_Of_HCap"] = df_2019['cgdpo'] / Per_Hour_Worked_HCap
print(df_2019)

             country  year         cgdpo         emp          avh        hc  \
419        Argentina  2019  9.785588e+05   20.643215  1609.068998  3.096804
629        Australia  2019  1.355143e+06   12.863174  1726.797659  3.549666
699          Austria  2019  4.783293e+05    4.550281  1611.374223  3.381046
909          Belgium  2019  5.236886e+05    4.921937  1586.430997  3.149034
1189        Bulgaria  2019  1.503254e+05    3.420419  1645.246464  3.186015
...              ...   ...           ...         ...          ...       ...
11759         Turkey  2019  2.246182e+06   28.087334  1832.000000  2.514292
11829         Taiwan  2019  1.100433e+06   11.500000  2085.135333  3.357651
12109        Uruguay  2019  7.131098e+04    1.635379  1532.513740  2.776406
12179  United States  2019  2.056603e+07  158.299591  1765.346390  3.749341
12669   South Africa  2019  7.350671e+05   18.642710  2191.363362  2.908202

          labsh  Income_Per_Worker  Income_Per_Hour_Worked  \
419    0.543918       47403.410950               29.460148
629    0.571645      105350.608151               61.009237
699    0.583860      105120.835121               65.236761
909    0.594811      106398.892493               67.068087
1189   0.527659       43949.428252               26.712975
...         ...                ...                     ...
11759  0.436831       79971.341374               43.652479
11829  0.650921       95689.793478               45.891407
12109  0.473972       43605.172638               28.453365
12179  0.597091      129918.427818               73.593731
12669  0.570888       39429.196353               17.992998

       Income_Per_Unit_of_HCap  Income_Per_Hour_Of_HCap
419               3.159899e+05                 9.513080
629               3.817664e+05                17.187317
699               1.414738e+05                19.294844
909               1.663013e+05                21.297987
1189              4.718290e+04                 8.384447
...                        ...                      ...
11759             8.933655e+05                17.361738
11829             3.277389e+05                13.667714
12109             2.568464e+04                10.248273
12179             5.485239e+06                19.628442
12669             2.527565e+05                 6.186983

[61 rows x 11 columns]

C:\Users\Jaswo\AppData\Local\Temp\ipykernel_18176\1298831451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019["Income_Per_Worker"] = df_2019['cgdpo'] / df_2019['emp']
C:\Users\Jaswo\AppData\Local\Temp\ipykernel_18176\1298831451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019["Income_Per_Hour_Worked"] = df_2019['cgdpo'] / Per_Hour_Worked
C:\Users\Jaswo\AppData\Local\Temp\ipykernel_18176\1298831451.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019["Income_Per_Unit_of_HCap"] = df_2019['cgdpo'] / df_2019['hc']
C:\Users\Jaswo\AppData\Local\Temp\ipykernel_18176\1298831451.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019["Income_Per_Hour_Of_HCap"] = df_2019['cgdpo'] / Per_Hour_Worked_HCap

In [47]:
#Q3
#To determine descriptive stats for Income per worker
df_2019['Income_Per_Worker'].describe([0.1,0.9,0.05,0.95]) 
#To find the corresponding country values
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(0)]
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(0.05)]
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(0.1)]
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(0.5)]
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(0.9)]
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(0.95)]
df_2019.loc[df_2019['Income_Per_Worker'] == df_2019['Income_Per_Worker'].quantile(1)]
#Calculating log variance squared
sd1 = 36303.479249
np.log(sd1*sd1)

#Building the table for Income Per worker
dataIPW = {'Country':['India','Ireland','Ecuador','Thailand','Japan','Belgium','Switzerland',''],
            'Statistics': ['Minimum','Maximum','5%','10%','50%','90%','95%','logvariance'],
            'Values': ['18371.849166','219595.211602','23559.622983','31758.382732','71907.514371','106398.892493','128644.065852', '20.999337725479588']
    }

df_IPWStat = pd.DataFrame(dataIPW)
print(df_IPWStat)

#Calculating the ratios for Income per worker
df_2019['Income_Per_Worker'].quantile(1) / df_2019['Income_Per_Worker'].quantile(0)
df_2019['Income_Per_Worker'].quantile(0.9) / df_2019['Income_Per_Worker'].quantile(0.1)
df_2019['Income_Per_Worker'].quantile(0.95) / df_2019['Income_Per_Worker'].quantile(0.05)

# #Building table of ratios of Income per worker
ratioIPW = {'Ratio': ['Richest:Poorest', '90:10', '95:5'],
                'Value':['11.952809410721416','3.3502616739254916','5.460361820923015']
}

df_ratioIPW = pd.DataFrame(ratioIPW)
print(df_ratioIPW)

5.460361820923015

logging the GDP per capita, per hour worker, per unit of human capital

In [44]:
# #To determine descriptive stats for Income per hour worked
df_2019['Income_Per_Hour_Worked'].describe([0.1,0.9,0.05,0.95]) 
# #To find the corresponding country values
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(0)]
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(0.05)]
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(0.1)]
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(0.5)]
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(0.9)]
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(0.95)]
df_2019.loc[df_2019['Income_Per_Hour_Worked'] == df_2019['Income_Per_Hour_Worked'].quantile(1)]
# #Calculating log variance squared
sd2 = 23.544823
np.log(sd2*sd2)

# #Building the table for Income Per hour worked
dataIPHW = {'Country':['India','Ireland','China','Ecuador','Korea','Netherlands','Luxembourg',''],
            'Statistics': ['Minimum','Maximum','5%','10%','50%','90%','95%','logvariance'],
            'Values': [' 8.653963','123.926606',' 11.611836','15.183664','40.659419','69.788829','81.031355', '6.3178119322952355']
    }

df_IPHWStat = pd.DataFrame(dataIPHW)
print(df_IPHWStat)

#Calculating the ratios for Income per hour worked
df_2019['Income_Per_Hour_Worked'].quantile(1) / df_2019['Income_Per_Hour_Worked'].quantile(0)
df_2019['Income_Per_Hour_Worked'].quantile(0.9) / df_2019['Income_Per_Hour_Worked'].quantile(0.1)
df_2019['Income_Per_Hour_Worked'].quantile(0.95) / df_2019['Income_Per_Hour_Worked'].quantile(0.05)

# #Building table of ratios of Income per hour worked
ratioIPHW = {'Ratio': ['Richest:Poorest', '90:10', '95:5'],
                'Value':['14.320215145326532','4.59631016687039','6.9783415732983']
}

df_ratioIPHW = pd.DataFrame(ratioIPHW)
print(df_ratioIPHW)

6.9783415732983

In [41]:
#To determine descriptive stats for Income per Unit of HCap
df_2019['Income_Per_Unit_of_HCap'].describe([0.1,0.9,0.05,0.95]) 
#To find the corresponding country values
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(0)]
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(0.05)]
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(0.1)]
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(0.5)]
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(0.9)]
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(0.95)]
df_2019.loc[df_2019['Income_Per_Unit_of_HCap'] == df_2019['Income_Per_Unit_of_HCap'].quantile(1)]
# #Calculating log variance squared
sd3 = 1.268800e+06
np.log(sd3*sd3)

# #Building the table for Income Per Unit of HCap
dataIPUoHC = {'Country':['Malta','China','Estonia','Slovenia','Sweden','Germany','Japan',''],
            'Statistics': ['Minimum','Maximum','5%','10%','50%','90%','95%','logvariance'],
            'Values': ['5.478297e+03','  7.453936e+06',' 1.231848e+04','1.995955e+04','1.536059e+05','1.162919e+06','1.400075e+06', '28.10716425972544']
    }

df_IPUoHCStat = pd.DataFrame(dataIPUoHC)
print(df_IPUoHCStat)

df_2019['Income_Per_Unit_of_HCap'].quantile(1) / df_2019['Income_Per_Unit_of_HCap'].quantile(0)
df_2019['Income_Per_Unit_of_HCap'].quantile(0.9) / df_2019['Income_Per_Unit_of_HCap'].quantile(0.1)
df_2019['Income_Per_Unit_of_HCap'].quantile(0.95) / df_2019['Income_Per_Unit_of_HCap'].quantile(0.05)

#Building table of ratios of Income per Unit of HCap
ratioIPUoHC = {'Ratio': ['Richest:Poorest', '90:10', '95:5'],
                'Value':['1360.630149346791','58.263793164133475','113.65647631408467']
}

df_ratioIPUoHC = pd.DataFrame(ratioIPUoHC)
print(df_ratioIPUoHC)

113.65647631408467

In [38]:
#To determine descriptive stats for Income per hour of HCap
df_2019['Income_Per_Hour_Of_HCap'].describe([0.1,0.9,0.05,0.95]) 
#To find the corresponding country values
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(0)]
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(0.05)]
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(0.1)]
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(0.5)]
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(0.9)]
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(0.95)]
df_2019.loc[df_2019['Income_Per_Hour_Of_HCap'] == df_2019['Income_Per_Hour_Of_HCap'].quantile(1)]
#Calculating log variance squared
sd4 = 1.268800e+06
np.log(sd4*sd4)

# #Building the table for Income Per Hour of HCap
dataIPHoHC = {'Country':['Philippines','Ireland','China','Ecuador','Korea','Denmark','Switzerland',''],
            'Statistics': ['Minimum','Maximum','5%','10%','50%','90%','95%','logvariance'],
            'Values': ['3.658090','38.903139','4.302294','5.496410','10.798962','21.127653','22.316076', '28.10716425972544']
    }

df_IPHoHCStat = pd.DataFrame(dataIPHoHC)
print(df_IPHoHCStat)

#Computing the ratios
df_2019['Income_Per_Hour_Of_HCap'].quantile(1) / df_2019['Income_Per_Hour_Of_HCap'].quantile(0)
df_2019['Income_Per_Hour_Of_HCap'].quantile(0.9) / df_2019['Income_Per_Hour_Of_HCap'].quantile(0.1)
df_2019['Income_Per_Hour_Of_HCap'].quantile(0.95) / df_2019['Income_Per_Hour_Of_HCap'].quantile(0.05)

# # #Building table of ratios of Income per Unit of HCap
ratioIPHoHC = {'Ratio': ['Richest:Poorest', '90:10', '95:5'],
                'Value':['10.634823405842381','3.8439007023308713','5.187017859505654']
}

df_ratioIPHoHC = pd.DataFrame(ratioIPHoHC)
print(df_ratioIPHoHC)

             Ratio               Value
0  Richest:Poorest  10.634823405842381
1            90:10  3.8439007023308713
2             95:5   5.187017859505654