Importing liblaries

In [1]:
import pandas as pd

In [2]:
import numpy as np

Importing data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/jivizcaino/PWT_10.0/main/pwt100.csv', encoding="latin-1")

In [4]:
print(df)

      countrycode   country   currency_unit  year        rgdpe        rgdpo  \
0             ABW     Aruba  Aruban Guilder  1950          NaN          NaN
1             ABW     Aruba  Aruban Guilder  1951          NaN          NaN
2             ABW     Aruba  Aruban Guilder  1952          NaN          NaN
3             ABW     Aruba  Aruban Guilder  1953          NaN          NaN
4             ABW     Aruba  Aruban Guilder  1954          NaN          NaN
...           ...       ...             ...   ...          ...          ...
12805         ZWE  Zimbabwe       US Dollar  2015  40141.61719  39798.64453
12806         ZWE  Zimbabwe       US Dollar  2016  41875.20313  40963.19141
12807         ZWE  Zimbabwe       US Dollar  2017  44672.17578  44316.74219
12808         ZWE  Zimbabwe       US Dollar  2018  44325.10938  43420.89844
12809         ZWE  Zimbabwe       US Dollar  2019  42296.06250  40826.57031

             pop       emp  avh        hc  ...     csh_x     csh_m     csh_r  \
0            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
1            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
2            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
3            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
4            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
...          ...       ...  ...       ...  ...       ...       ...       ...
12805  13.814629  6.393752  NaN  2.584653  ...  0.140172 -0.287693 -0.051930
12806  14.030331  6.504374  NaN  2.616257  ...  0.131920 -0.251232 -0.016258
12807  14.236595  6.611773  NaN  2.648248  ...  0.126722 -0.202827 -0.039897
12808  14.438802  6.714952  NaN  2.680630  ...  0.144485 -0.263658 -0.020791
12809  14.645468  6.831017  NaN  2.713408  ...  0.213562 -0.270959 -0.089798

           pl_c      pl_i      pl_g      pl_x      pl_m      pl_n      pl_k
0           NaN       NaN       NaN       NaN       NaN       NaN       NaN
1           NaN       NaN       NaN       NaN       NaN       NaN       NaN
2           NaN       NaN       NaN       NaN       NaN       NaN       NaN
3           NaN       NaN       NaN       NaN       NaN       NaN       NaN
4           NaN       NaN       NaN       NaN       NaN       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
12805  0.479228  0.651287  0.541446  0.616689  0.533235  0.422764  1.533909
12806  0.470640  0.651027  0.539631  0.619789  0.519718  0.416510  1.491724
12807  0.473560  0.639560  0.519956  0.619739  0.552042  0.415592  1.514525
12808  0.543757  0.655473  0.529867  0.641361  0.561526  0.425143  1.590120
12809  0.494755  0.652439  0.500927  0.487763  0.430082  0.420675  1.384068

[12810 rows x 52 columns]

Variables we care about: 
- cgdpo (oupput-side real GDP at current PPP) 
- emp (Number of persons engaged) 
- avh( Average annual hours worked by persons engaged) 
- hc (humand capital index based on yeatd of schooling and returns to education) 
- labsh (country-specific measure for 1-alpha

Cleanining the data

In [5]:
df_subset =  df[['country', 'year', 'cgdpo', 'emp', 'avh', 'hc','labsh']]

In [6]:
df_subset

        country  year        cgdpo       emp  avh        hc     labsh
0         Aruba  1950          NaN       NaN  NaN       NaN       NaN
1         Aruba  1951          NaN       NaN  NaN       NaN       NaN
2         Aruba  1952          NaN       NaN  NaN       NaN       NaN
3         Aruba  1953          NaN       NaN  NaN       NaN       NaN
4         Aruba  1954          NaN       NaN  NaN       NaN       NaN
...         ...   ...          ...       ...  ...       ...       ...
12805  Zimbabwe  2015  39455.90234  6.393752  NaN  2.584653  0.533381
12806  Zimbabwe  2016  40864.16406  6.504374  NaN  2.616257  0.533381
12807  Zimbabwe  2017  44316.74219  6.611773  NaN  2.648248  0.533381
12808  Zimbabwe  2018  43567.51172  6.714952  NaN  2.680630  0.533381
12809  Zimbabwe  2019  41081.72266  6.831017  NaN  2.713408  0.533381

[12810 rows x 7 columns]

In [7]:
df_subset = df_subset.dropna()
print(df_subset)

            country  year         cgdpo        emp          avh        hc  \
350       Argentina  1950   50511.76563   6.608833  2034.000000  1.816503
351       Argentina  1951   51700.11328   6.713252  2037.866753  1.830769
352       Argentina  1952   47280.32813   6.819321  2041.740856  1.845147
353       Argentina  1953   50378.66797   6.927065  2045.622325  1.859638
354       Argentina  1954   52633.07422   7.036511  2049.511172  1.874243
...             ...   ...           ...        ...          ...       ...
12664  South Africa  2014  699348.06250  16.992683  2209.091467  2.675951
12666  South Africa  2016  710312.50000  17.984968  2218.455068  2.762902
12667  South Africa  2017  726021.00000  18.302843  2197.033263  2.809246
12668  South Africa  2018  733319.37500  18.686357  2191.363362  2.857641
12669  South Africa  2019  735067.06250  18.642710  2191.363362  2.908202

          labsh
350    0.441024
351    0.441024
352    0.441024
353    0.441024
354    0.441024
...         ...
12664  0.552341
12666  0.568343
12667  0.570414
12668  0.570888
12669  0.570888

[3265 rows x 7 columns]

finding most frequent year

In [8]:
df_subset['year'].mode()

0    2001
1    2002
Name: year, dtype: int64

2001 and 2002 are the most frequent. The year that should be used is 2002 as it's the latest out of the 2 options

Data subset for year 2002 only

In [16]:
df_2002 = df_subset[df_subset['year'] == 2002]

In [19]:
print(df_2002)

                                  country  year         cgdpo         emp  \
402                             Argentina  2002  4.160457e+05   13.412664
612                             Australia  2002  7.934767e+05    9.185279
682                               Austria  2002  3.107763e+05    3.780694
892                               Belgium  2002  3.767745e+05    4.187661
1172                             Bulgaria  2002  8.057009e+04    2.962754
...                                   ...   ...           ...         ...
11812                              Taiwan  2002  7.859262e+05    9.453662
12092                             Uruguay  2002  3.437899e+04    1.338126
12162                       United States  2002  1.454026e+07  138.152084
12372  Venezuela (Bolivarian Republic of)  2002  1.977061e+05    9.786200
12652                        South Africa  2002  4.729839e+05   14.032675

               avh        hc     labsh
402    1710.036560  2.709060  0.317553
612    1808.121110  3.516423  0.600817
682    1782.847940  3.149517  0.584005
892    1593.645551  3.011329  0.631530
1172   1651.259419  2.937178  0.453595
...            ...       ...       ...
11812  2111.897143  2.815393  0.742257
12092  1635.878761  2.538953  0.511497
12162  1806.690813  3.598119  0.629617
12372  1829.020296  2.228095  0.412870
12652  2382.765847  2.163700  0.529168

[64 rows x 7 columns]

In [24]:
df_2002["Income_Per_Worker"] = df_2002['cgdpo'] / df_2002['emp']
Per_Hour_Worked = df_2002['emp']*df_2002['avh']
df_2002["Income_Per_Hour_Worked"] = df_2002['cgdpo'] / Per_Hour_Worked
df_2002["Income_Per_Unit_of_HCap"] = df_2002['cgdpo'] / df_2002['hc']
Per_Hour_Worked_HCap = Per_Hour_Worked*df_2002['hc']
df_2002["Income_Per_Hour_Of_HCap"] = df_2002['cgdpo'] / Per_Hour_Worked_HCap
print(df_2002)

                                  country  year         cgdpo         emp  \
402                             Argentina  2002  4.160457e+05   13.412664
612                             Australia  2002  7.934767e+05    9.185279
682                               Austria  2002  3.107763e+05    3.780694
892                               Belgium  2002  3.767745e+05    4.187661
1172                             Bulgaria  2002  8.057009e+04    2.962754
...                                   ...   ...           ...         ...
11812                              Taiwan  2002  7.859262e+05    9.453662
12092                             Uruguay  2002  3.437899e+04    1.338126
12162                       United States  2002  1.454026e+07  138.152084
12372  Venezuela (Bolivarian Republic of)  2002  1.977061e+05    9.786200
12652                        South Africa  2002  4.729839e+05   14.032675

               avh        hc     labsh  Income_Per_Worker  \
402    1710.036560  2.709060  0.317553       31018.867213
612    1808.121110  3.516423  0.600817       86385.693537
682    1782.847940  3.149517  0.584005       82200.868806
892    1593.645551  3.011329  0.631530       89972.554806
1172   1651.259419  2.937178  0.453595       27194.319590
...            ...       ...       ...                ...
11812  2111.897143  2.815393  0.742257       83134.577292
12092  1635.878761  2.538953  0.511497       25691.899635
12162  1806.690813  3.598119  0.629617      105248.176769
12372  1829.020296  2.228095  0.412870       20202.543754
12652  2382.765847  2.163700  0.529168       33705.895852

       Income_Per_Hour_Worked  Income_Per_Unit_of_HCap  \
402                 18.139301             1.535757e+05
612                 47.776497             2.256488e+05
682                 46.106495             9.867428e+04
892                 56.457068             1.251190e+05
1172                16.468835             2.743112e+04
...                       ...                      ...
11812               39.364880             2.791533e+05
12092               15.705259             1.354061e+04
12162               58.254670             4.041072e+06
12372               11.045555             8.873327e+04
12652               14.145702             2.185996e+05

       Income_Per_Hour_Of_HCap
402                   6.695791
612                  13.586673
682                  14.639228
892                  18.748220
1172                  5.607027
...                        ...
11812                13.982020
12092                 6.185722
12162                16.190314
12372                 4.957399
12652                 6.537738

[64 rows x 11 columns]

C:\Users\agnes\AppData\Local\Temp\ipykernel_6932\1731027540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2002["Income_Per_Worker"] = df_2002['cgdpo'] / df_2002['emp']
C:\Users\agnes\AppData\Local\Temp\ipykernel_6932\1731027540.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2002["Income_Per_Hour_Worked"] = df_2002['cgdpo'] / Per_Hour_Worked
C:\Users\agnes\AppData\Local\Temp\ipykernel_6932\1731027540.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2002["Income_Per_Unit_of_HCap"] = df_2002['cgdpo'] / df_2002['hc']
C:\Users\agnes\AppData\Local\Temp\ipykernel_6932\1731027540.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2002["Income_Per_Hour_Of_HCap"] = df_2002['cgdpo'] / Per_Hour_Worked_HCap

In [25]:
Income_perCap_25 = np.percentile(df_subset["Income_Per_Hour_Worked"], 25)
print(Income_perCap_25)

10.707010273250523

scatterplots for k, h, avh, alpha and A (using cftp) against log per capita,per worker, per hour workerd, and per unit of human capital. Label axis, Label observations using country code