In [1]:
import pandas as pd

In [6]:
df = pd.read_excel(r'C:\Users\agnes\Desktop\NumericalMethods\Group_coreswork\pwt100.xlsx', sheet_name='Data')

In [7]:
print(df)

      countrycode   country   currency_unit  year         rgdpe         rgdpo  \
0             ABW     Aruba  Aruban Guilder  1950           NaN           NaN
1             ABW     Aruba  Aruban Guilder  1951           NaN           NaN
2             ABW     Aruba  Aruban Guilder  1952           NaN           NaN
3             ABW     Aruba  Aruban Guilder  1953           NaN           NaN
4             ABW     Aruba  Aruban Guilder  1954           NaN           NaN
...           ...       ...             ...   ...           ...           ...
12805         ZWE  Zimbabwe       US Dollar  2015  40141.617188  39798.644531
12806         ZWE  Zimbabwe       US Dollar  2016  41875.203125  40963.191406
12807         ZWE  Zimbabwe       US Dollar  2017  44672.175781  44316.742188
12808         ZWE  Zimbabwe       US Dollar  2018  44325.109375  43420.898438
12809         ZWE  Zimbabwe       US Dollar  2019  42296.062500  40826.570312

             pop       emp  avh        hc  ...     csh_x     csh_m     csh_r  \
0            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
1            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
2            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
3            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
4            NaN       NaN  NaN       NaN  ...       NaN       NaN       NaN
...          ...       ...  ...       ...  ...       ...       ...       ...
12805  13.814629  6.393752  NaN  2.584653  ...  0.140172 -0.287693 -0.051930
12806  14.030331  6.504374  NaN  2.616257  ...  0.131920 -0.251232 -0.016258
12807  14.236595  6.611773  NaN  2.648248  ...  0.126722 -0.202827 -0.039897
12808  14.438802  6.714952  NaN  2.680630  ...  0.144485 -0.263658 -0.020791
12809  14.645468  6.831017  NaN  2.713408  ...  0.213562 -0.270959 -0.089798

           pl_c      pl_i      pl_g      pl_x      pl_m      pl_n      pl_k
0           NaN       NaN       NaN       NaN       NaN       NaN       NaN
1           NaN       NaN       NaN       NaN       NaN       NaN       NaN
2           NaN       NaN       NaN       NaN       NaN       NaN       NaN
3           NaN       NaN       NaN       NaN       NaN       NaN       NaN
4           NaN       NaN       NaN       NaN       NaN       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
12805  0.479228  0.651287  0.541446  0.616689  0.533235  0.422764  1.533909
12806  0.470640  0.651027  0.539631  0.619789  0.519718  0.416510  1.491724
12807  0.473560  0.639560  0.519956  0.619739  0.552042  0.415592  1.514525
12808  0.543757  0.655473  0.529867  0.641361  0.561526  0.425143  1.590120
12809  0.494755  0.652439  0.500927  0.487763  0.430082  0.420675  1.384068

[12810 rows x 52 columns]